<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../components/search-bar.html">
<link rel="import" href="../../../components/utils-mixin.html">
<link rel="import" href="../../../../styles/shared-styles.html">
<link rel="import" href="../../../../bower_components/vaadin-grid-pro/src/vaadin-grid-pro.html">
<link rel="import" href="../../../../bower_components/vaadin-button/src/vaadin-button.html">

<dom-module id="dynamic-view-grid">
  <template>
<style include="shared-styles">
      :host {
               display: flex; 
         flex-direction: column; 
       height: 100vh; 
/* 		overflow:hidden; */
      }
    </style>
<!--    <search-bar id="search"></search-bar>  theme="crud"-->
<vaadin-button id="newRow">
 +
</vaadin-button>
<vaadin-grid-pro id="grid" column-reordering-allowed page-size="50" style="margin:0px;width:100%;"></vaadin-grid-pro>
</template>
  <script>
    class ProductsView extends Polymer.Element {
      static get is() {
        return 'dynamic-view-grid';
      }
    }
    window.customElements.define(ProductsView.is, ProductsView);
  </script>
</dom-module>
